YOUTUBE_API_KEY=<your dev api key>
YOUTUBE_STREAM_ID=<copy stream id>

# If you have enabled TTS, all messages from the chat will be read aloud
TTS_ENABLED=true
# Here you must enter the name of the voice assistant from your system
# Examples:
#   - MacOS (en): Fred
#   - MacOS (ru): Milena
TTS_NAME=Milena

ALERTS_ENABLED=true
ALERTS_TOKEN=@
ALERTS_MEDIA_PATH=/home/user/memes
ALERTS_COMMANDS_FILE_PATH=/home/user/memes/commands.yaml

WEBHOOK_ENABLED=true
